<div class="type">
  <div class="nav">
    {{#each dance in this.dances}}
      <span>
        {{#link-to 'dances.type.dance' dance}} {{dance.name}} {{/link-to}}
      </span>
    {{/each}}
  </div>
  {{outlet}}
</div>
