<div class="container-fluid header">
  <div class="row title">
    {{#link-to "index"}}<h1> Dance Journal </h1>{{/link-to}}
  </div>
  <div class="nav">
    <span>{{#link-to "dances"}}Dances{{/link-to}}</span>
    <span>|</span>
    <span>{{#link-to "links"}}Helpful Links{{/link-to}}</span>
    <span>|</span>
    <span><a href="http://bastionfennell.com/bastions-musings/categories/dancing/">Blog</a></span>
  </div>
</div>
<div class="container-fluid main">
  {{outlet}}
</div>
<div class="container-fluid footer">
  Made by <a href="http://bastionfennell.com">Bastion Fennell</a>
</div>
