<div class="dances">
  <div class="nav">
    <span>{{#link-to "dances.type" 'standard'}}Standard{{/link-to}}</span>
    <span>{{#link-to "dances.type" 'latin'}}Latin{{/link-to}}</span>
    <span>{{#link-to "dances.type" 'country'}}Country{{/link-to}}</span>
    <span>{{#link-to "dances.type" 'social'}}Social{{/link-to}}</span>
  </div>
  <div class="dances-outlet">
    {{outlet}}
  </div>
</div>
