<div class="content">
  <h2> Dance Journal </h2>
  <p> Hi, my name is Bastion Fennell. I started learning how to dance as mostly a test dummy for a friend of mine doing WCS. Shortly after that, I joined Texas Ballroom at the University of Texas in the fall of 2014. We were learning so much at Texas Ballroom that I decided I should put together a small journal so I didn't forget anything. That's what this site is. It holds each of the dances I'm learning, what I'm learning, and hopefully some video demonstrations. Perhaps my journey will be helpful for someone else as well! </p>
  <p> The site currently has all of the dances I'm learning on the top bar. Each dance has a list of moves I've learned, demonstrations of those moves, and demonstrations of what the dances themselves are supposed to look like. I've also put together a list of helpful links for online resources that have helped me out. I'm also working on a weekly blog to kind of give a feel for what I've learned over the week and what I feel about dancing in general.
  <p> Disclaimer: I am by no means an expert. This is following the adventures of a dancing novice while I try to figure out all the different dances and learn what I like. </p>
</div>
